<span class="text-center"><h3>Le genre « éminemment national »</h3></span>

<br>
<p>
Musicologue et étudiante M2 en humanities numériques, Kelly Christensen
    a réalisé ce projet Python dans le cadre du module de formation du master Technologies
    numériques appliquées à l'histoire (2021-2022) de <a href="https://www.chartes.psl.eu/fr">
    l'École nationale des chartes</a> à Paris, afin d'approfondir ses compétences dans le
    langage de programmation Python et le framework web Flask. Il compte sur une base de données
    des représentations et du répertoire de l'Opéra-Comique que Mme. Christensen a créée lors
    de la recherche de sa thèse en musicologie qui sera soutenue à l'université de Stanford
    le 19 avril 2022.</p>

<p>Le projet Python a pour but de mettre à disposition les données de représentations
    journalières du théâtre national de l'Opéra-Comique entre 1820 et 1850, et permettre aux
    chercheuses et chercheurs de contribuer les données des représentations d'opéra-comique en
    province qui ont lieu pendant la même période historique. Musicologues ont souvent besoin de
    (re)faire eux-mêmes de la recherche sur les représentations du théâtre parisien.
    Ce projet vise à resoudre ce problème et rendre la recherche plus efficace. Il complète
    l'application web <a href="https://dezede.org/presentation">Dezède</a>, éditée par les
    musicologues Joann ÉLART, Yannick SIMON, et Patrick TAÏEB, qui utilise aussi
    <a href="https://github.com/dezede/dezede">une base de données relationnelle (PostgreSQL)</a>
    pour mettre à disposition des données du répertoire et des numérisations d'une partie
    des archives de l'Opéra-Comique. Le projet présent, l'Opéra-Comique Représenté, utilise
    également une base de données relationnelle (SQLite) mais en se focalisant sur une période
    historique plus restreinte il peut présenter toute représentation à l'Opéra-Comique, chaque
    jour, entre 1 janvier 1820 et 31 décembre 1849. Au lieu de copier les données de la base de
    Dezède pour élaborer ses données sur les représentations d'opéra-comique hors Paris, ce
    projet solicite des utilisateurs à y en contribuer.</p>

<h3>Fonctionnalités du projet</h3>
<ul>
    <li>Rechercher facilement, dans la recherche rapide, des représentations par titre dans les deux datasets (Paris, province)</li>
    <li>Rechercher les représentations par titre et/ou par commune (province)</li>
    <li>Contribuer au projet ainsi que modifier et supprimer vos propres contributions sur les représentations d'opéra-comique en province</li>
    <li>Analyser les collaborations entre des créatrices et createurs d'opéra-comique avant 1850</li>
    <li>Fouiller les représentations journalières à l'Opéra-Comique entre 1820 et 1850, avec un filtre sur les dates</li>
</ul>