{% extends "paris_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block subtemplate_content %}

    <span class="text-center"><h3><a href="{{ url_for('main.paris_all') }}">Toutes</a> les représentations à Paris entre 1820 et 1850</h3></span>

    <span class="text-center"><h3>L'analyse du répertoire</h3></span>
    <h4>Collaborations</h4>


    <h5>Regarder toutes les collaborations (avant 1850) qu'une autrice ou un auteur a faite avec des autres créatrices et créateurs d'opéra-comique.</h5>
    {{ wtf.quick_form(form) }}

{% endblock %}