{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{# Extends the base HTML template I created and imports Flask-Bootstrap's WTF macro #}
{# Flask-Bootstrap's WTF macro takes as an argument a Flask-WTF form object ; this object can be passed directly to the
template via the render_template() method in the relevant /routes.py module. #}

{% block unique_content %}

    <span class="text-center"><h1>L'opéra-comique à l'Opéra-Comique Paris</h1></span>

{% block subtemplate_content %}
{{ super () }}
{% endblock %}

{% endblock %}